html {
  text-align: left;
  margin: 0px auto;
}

header {
  width: 690px;
  margin: 0px auto;
  background-image: url("grfx/header.jpg") ;
  height:274px;
  margin-bottom: 0px;
}

article {
    text-align: left;
    width: 690px;
    height:500px;
    margin:0px auto;
    margin-top: -18px;
    background-color: white;
    font-family: sans-serif;
    font-size: 15px;
}

body {
  background-image: url("grfx/bg.png");
  background-repeat: repeat-x;
  font-family: sans-serif;
  margin-top: -22px;

}
nav {
  height:42px;
  margin-top:145px;
  margin-left:-30px;
  font-size: 12px;
}

nav ul {
list-style:none;
}

nav ul li a{
  float:left;
  text-decoration:none;
  color: white;
  padding:0px 10px;
  text-align:left;
  line-height:42px;
  height:42px;
}


nav ul li a:hover:not(active){
  background-color:gray;
  color:white;
  border-radius:2px;
}

nav ul li a:.active {
  background-color: red;
  border-radius:2px;
  color: red;
}

p {
  text-align:left;
  padding:0px 5px;
  margin-left:10px;

}


h1 {
  padding:10px 5px;
  margin-top: 15px;
  text-align:left;
  margin-left:10px;
}

h5 {
  padding:0px 5px;
  margin-top:-33px;
  text-align:left;
  margin-left:10px;
}

h2 {
  padding: 5px 5px;
  text-align:left;
  margin-left:10px;

}

title {

}

#boot {
  float: left;
  padding:0px 10px;
  margin-left:-10px;
}

#boot1 {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
}

#boot2 {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}

#boot3 {
float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#boot4 {
  float: right;
  margin: 15 px;
}

#boot5 {
float: left;
  margin: 10px;
}

#boot6 {
  float: right;
  margin: 10px;
}
#boot7 {
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
